:root {
    --amarillo: #E8CD32;
    --rojo: #DD553D;
    --azul: #5E8EF9;
    --crema: #F1F1F1;
    --blanco: #ffffff;
    --negro: #000000;
}

.titulo-factual {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 84px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    color: var(--blanco);

}

.tituloNota {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--negro);
}

.subTituloFact {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 37;
    margin-bottom: 20px;
    color: var(--negro);
}

.verdadero {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: #FFFFFF;
    background-color:#33B257;
    padding-left: 5px;
    padding-right: 5px;
}

.falso {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #DD553D;
    padding-left: 5px;
    padding-right: 5px;
}

.impreciso {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #E8CD32;
    padding-left: 5px;
    padding-right: 5px;

}

.fecha1{
    font-family: karla;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--negro);
}

.fecha2{
    font-family: karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--negro);
}

.BlackLine{
    border: 2px solid #000000;
    background: #000000;
}

h2 {
    font-family: Space Grotesk;
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--blanco);
}

.fuente{
    font-family: Karla;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
}

.a-report {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.a-report:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: #000000;
    transition: left .3s;
}

.img-notas{
    display: flex;
    justify-content:center;
    margin-left: 40px;
    
}

.factNewsImg{
    height: 300px;
}

.a-report:hover:after {
    left: 0;
}

.breadcrumb-factual {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin-bottom: 1rem;
    list-style: none;
}

.color-texto-factual {
    color: var(--blanco)
}

.color-texto-factual:hover {
    color: var(--amarillo);
}

.breadcrumb-itemFact+.breadcrumb-itemFact::before {
    display: inline-block;
    padding-right: .5rem;
    color: var(--blanco);
    content: ">";
}

.resumenFact {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: var(--blanco);
}

.iconoFact-rrss {
    font-size: 24px;
    color: var(--blanco);
    padding-left: 10px;
    padding-right: 10px;
}

.factNews {
    height: auto;
    border: 4px;
    border-style: solid;
    border-color: white;
    display: block;
    width: 100%;

}

.factCard-body {
    border: 4px;
    border-color: var(--blanco);
    border-style: solid;
}

.factCard-title {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: var(--blanco);
}

.factCard-img {
    border: 4px solid #FFFFFF;
    margin-bottom: 25px;
    width: 100%
}

.factCard-text {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    color: var(--blanco);
}

.reviewFact {
    width: 500;
    display: flex;
    justify-content: flex-end
}

.factCardWhite-title {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: var(--negro);
}

.factCardWhite-body {
    border: 4px;
    border-color: var(--negro);
    border-style: solid;
}

.factCardWhite-text {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    color: var(--negro);
}
