.homeTitle {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 84px;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 0px;
}

.SectionContent {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 0.02em;
}

.SectionContent2 {
    color: white;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 0.02em;
}

.homeTitle2 {
    color: white;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 84px;
    letter-spacing: 0.01em;
    margin: 0px;
}

.homeTitle3 {
    color: white;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 84px;
    letter-spacing: 0.01em;
    margin: 0px;
}

.iconTitle {
    width: 67px;
    height: 74px;
    margin-left: 10px;
}

.linea1 {
    border: 2px solid #000000;
    background: #000000;
}

.linea2 {
    border: 2px solid #ffffff;
    background: #ffffff;
}

li {
    list-style: none
}

.iconTitle2 {
    margin-left: 10px;
    margin-top: 15px;
    height: 74px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.icono-frase {
    height: 50px;
}

@media (min-width:768px) {
    .homeTitle {
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 84px;
        letter-spacing: 0.01em;
        color: #000000;
        margin: 0px;
    }

    .SectionContent {
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 0.02em;
    }

    .SectionContent2 {
        color: white;
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 0.02em;
    }

    .homeTitle2 {
        color: white;
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 55px;
        line-height: 84px;
        letter-spacing: 0.01em;
        margin: 0px;
    }

    .homeTitle3 {
        color: white;
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 84px;
        letter-spacing: 0.01em;
        margin: 0px;
    }

    .iconTitle {
        height: 74px;
        margin-left: 10px;
    }

    .iconTitle2 {
        margin-left: 10px;
        margin-top: 15px;
        height: 74px;
    }

}

.a-home {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.a-home:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: #000000;
    transition: left .3s;
}

.a-home:hover:after {
    left: 0;
}

.a-home2 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

.a-home2:hover {
    color: white;
}

.a-home2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: #ffffff;
    color: #ffffff;
    transition: left .3s;
}

.a-home2:hover:after {
    left: 0;
}