:root {
    --amarillo: #E8CD32;
    --rojo: #DD553D;
    --azul: #5E8EF9;
    --crema: #F1F1F1;
    --blanco: #ffffff;
    --negro: #000000;
}

.subtitle{
    text-align: left;
}

.informateTitle{
    font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 20px;

  color: #000000;
}
.card-img{
background:var(--azul);
border: 3px solid #000000;
margin-bottom: 25px;
margin-top: 25px;
}

.imgGesto{
width: 60%;


}
.imgGesto2{
    width: 100%;
}

.borderImg{
    border-bottom: 3px solid #000000;
}

