:root {
  --amarillo: #E8CD32;
  --rojo: #DD553D;
  --azul: #5E8EF9;
  --crema: #F1F1F1;
  --blanco: #ffffff;
  --negro: #000000;
}

@font-face {
  font-family: 'spacegrotesk';
  src: url(/css/spacegrotesk/SpaceGrotesk-Bold.otf)format('otf');
  src: url(/css/spacegrotesk/SpaceGrotesk-Light.otf)format('otf');
  src: url(/css/spacegrotesk/SpaceGrotesk-Medium.otf)format('otf');
  src: url(/css/spacegrotesk/SpaceGrotesk-Regular.otf)format('otf');
  src: url(/css/spacegrotesk/SpaceGrotesk-SemiBold.otf)format('otf');
}
/*
body {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;

  color: #000000;

}*/

#a {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;

  color: #000000;
  
}
  
h1, h2, h3 {
  font-family: 'spacegrotesk';
}

.logo {
  height: 30px;
}


.navbar-contexto {
  background-color: var(--blanco);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.fondo-crema {
  background-color: var(--crema);
  height: 100vh;

}

.fondo-rojo {
  background-color: var(--rojo);
  height: 100vh;

}


.isotipo {
  position: absolute;
  left: 30%;
  top: 25%;
}

.texto-principal {
  position: absolute;
  left: 8%;
  right: 8%;
  top: 32.43%;
  bottom: 15.96%;

  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;

  color: #000000;
}

.titulo-principal {

  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.texto {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}

.form-control-sm{
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.card-contexto {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.icon-card {
  width: 55px;
}

/*
@media(min-width: 375px) and (max-width: 600px) {
  .isotipo {
    position: absolute;
    left: 28.27%;
    right: 28.53%;
    top: 9.17%;
    bottom: 60.61%;

  }
}*/

.carousel .carousel-inner img {
  display:block;
  object-fit: cover;
}

