:root {
  --amarillo: #E8CD32;
  --rojo: #DD553D;
  --azul: #5E8EF9;
  --crema: #F1F1F1;
  --blanco: #ffffff;
  --negro: #000000;
}

.buscar {
  display: flex;
  background-color: var(--crema);
  border-radius: 4px;
  padding: 5px;

}

.buscar_texto {
  border: none;
  background: none;
  outline: none;
  color: var(--negro);
  font-size: 14px;
  float: left;
  line-height: 40px;
  transition: .3s;
  width: 0;
}

/* compatible para navegadores */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  line-height: 40px;
}

::-webkit-input-placeholder {
  /* Webkit */
  line-height: 40px;
}

:-ms-input-placeholder {
  /* IE */
  line-height: 40px;
}

.dropdown-toggle::after {
  margin-left: .5em !important;
  vertical-align: 0.15em !important;
}

.boton {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: var(--negro);
  font-size: 14px;
}

.buscar-mobile {
  background-color: var(--crema);
}

@media screen and (min-width:480px) {
  .buscar:hover>.buscar_texto {
    width: 100px;
  }
}

@media screen and (min-width:1024px) {
  .buscar:hover>.buscar_texto {
    width: 200px;
  }
}

.resumen {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;

  color: #000000;
}

p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #000000;
}


.logo {
  height: 30px;
}

.logos-footer {
  width: 60%;
  margin-left: auto;

}


.navbar-contexto {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.fondo-inicial {
  background-color: var(--crema);
  height: 100vh;
  margin-top: 60px;
}

.fondo-crema {
  background-color: var(--crema);
}

.fondo-negro {
  background-color: var(--negro);
}

.fondo-rojo {
  background-color: var(--rojo);
}

.fondo-azul {
  background-color: var(--azul);
}

.fondo-amarillo {
  background-color: var(--amarillo);
}

.fondo-construccion {
  background-color: var(--amarillo);
  height: 100vh;
}

.img-construccion {
  width: 150px;
}

.logo-construccion {
  height: 70px;
  width: 250px;
}

.isotipo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7em;
  margin-bottom: 5em;

}

.titulo {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;

  color: #000000;
}

.titulo-footer {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 48px;
  text-align: left;

  color: #ffffff;
}

.titulo-card {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: left;

  color: #000000;
}

.frase {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;

  color: #000000;
}

.nav-link {
  color: var(--negro);
  font-family: karla;
  font-size: 16px;
}

.texto-footer {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff
}

.form-control-sm {
  background: var(--crema);
  border: none;
  line-height: 40px !important;
}

.card-contexto {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-img {
  background: #FFFFFF;
  border: 3px solid #000000;
  margin-bottom: 25px;
  margin-top: 25px;
}

.icono-card {
  width: 55px;

}

.gesto {

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  top: 135px;

}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.alinear-v {
  display: table-cell;
  vertical-align: middle;
}

.card-text {
  font-size: 16px;
  line-height: 19px;

}

.card-body {
  padding: 15px;
}

.img-carrusel {
  height: 100vh;
  background-color: var(--crema);
}

.icono-qa {
  width: 16em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  top: 135px;
}


.card-qa {
  background: #FFFFFF;
  box-sizing: border-box;
}

.card-pregunta {
  background-color: var(--white);
  border: 3px solid #000000;
}

.card-respuesta {
  background-color: var(--crema);

  padding: 20px;
  /* or 147% */

  display: flex;
  align-items: center;
}

.btn-pregunta {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 20px;
}

.icono-down {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.btn-contexto-container {
  margin-top: 3em;
  display: flex;
  position: relative;
  left: -35px;
}

.btn-contexto {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  /* margin-right: auto;
  margin-left: auto; */
}

.btn-contexto:hover {
  background-color: #000000;
  color: white;

}


.flecha-gesto {
  width: 130px;
  padding-right: 30px;
}

.fecha {
  background-color: var(--negro);
  position: absolute;
  width: 100px;
  height: 110px;
}

.fecha-dia {
  font-size: 60px;
  color: var(--blanco);
  position: absolute;
  width: 71px;
  height: 82px;
  left: 14px;
  top: 25px;

}

.fecha-mes {
  font-size: 28px;
  color: white;
  position: absolute;
  width: 70px;
  height: 33px;
  left: 15px;
  top: 70px;
}

.card-btn-container {
  align-items: center;
}



.titulo-qa {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;

  color: #000000;
}

.collapse-chevron-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto-blanco {
  color: var(--blanco);
  font-size: 15px;
}

.borde-contexto {
  background-color: white;
  border: 1px solid #000000;
  padding: 10px;
}

.caja-correo {
  width: 180px;
}

.caja {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-hover:hover {
  transition: 0.5s;
  transform: scale(1.03);
}

.breadcrumbs {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 2rem;
  margin-bottom: 1rem;
  list-style: none;
}

.color-texto {
  color: var(--negro);
}

.color-texto:hover {
  color: white;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: var(--negro);
  content: ">";
}

.tag {
  color: var(--negro);
  background-color: var(--crema);
  border-color: var(--negro);
  padding: .25rem .5rem;
  font-size: 15px;
  line-height: 18px;
  align-items: center
}

.icono-rrss {
  font-size: 24px;
  color: var(--negro);
  padding-left: 10px;
  padding-right: 10px;
}

.icono-rrss:hover {
  transition: 0.5s;
  transform: scale(1.03);
}

.icono-tiempo {
  width: 24px;
}

.btn-descargar {
  width: 30px;
}

.sub-titulo {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}


@media (min-width: 768px) {
  .isotipo {
    left: 28.27%;
    right: 28.53%;
    width: 100px;
  }

  .resumen {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
  }

  .titulo {
    font-size: 50px;
    line-height: 48px;
  }

  .fondo-construccion {
    background-color: var(--amarillo);
    height: 100vh;

  }

  .gesto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 150px;
  }

  .icono-qa {
    width: 250px;
  }

  .card-pregunta {
    background-color: var(--white);
    border: 5px solid #000000;
  }

  .btn-contexto {
    background: #FFFFFF;
    border: 5px solid #000000;
    display: flex;
    justify-content: flex-end
  }


  .card-contexto {
    border: 5px solid #000000;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .card-img {
    border: 5px solid #000000;
  }

  .frase {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.44px;
  }

  p {
    font-size: 18px;
  }

  .titulo-card {
    font-size: 22px;
  }

  .img-construccion {
    width: 200px;
    margin-right: 100pxs;
    margin-left: 100px;
    margin-top: 7em;
    margin-bottom: 5em
  }

}








@font-face {
  font-family: 'Space grotesk';
  src: url(/css/spacegrotesk/SpaceGrotesk-Bold.otf);
  src: url(/css/spacegrotesk/SpaceGrotesk-Light.otf);
  src: url(/css/spacegrotesk/SpaceGrotesk-Medium.otf);
  src: url(/css/spacegrotesk/SpaceGrotesk-Regular.otf);
  src: url(/css/spacegrotesk/SpaceGrotesk-SemiBold.otf);
}




/*footer*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: var(--negro);
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: var(--negro) !important;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 600;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 600;
}

@media (max-width:767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}




