:root {
  --amarillo: #E8CD32;
  --rojo: #DD553D;
  --azul: #5E8EF9;
  --crema: #F1F1F1;
  --blanco: #ffffff;
  --negro: #000000;
}

p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}


.logo {
  height: 30px;
}

.navbar-contexto {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.fondo-inicial {
  background-color: var(--crema);
  height: 100vh;
  margin-top: 60px;
}

.fondo-crema {
  background-color: var(--crema);
}

.fondo-rojo {
  background-color: var(--rojo);
}

.fondo-azul {
  background-color: var(--azul);
}

.fondo-amarillo {
  background-color: var(--amarillo);
}

.isotipo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7em;
  margin-bottom: 5em;

}

.titulo {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 70px;

  color: #000000;
}

.titulo-card {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 48px;
  text-align: left;

  color: #000000;
}

.frase {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;

  color: #000000;
}

.form-control-sm {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.card-contexto {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icono-card {
  width: 55px;

}

.resumen {
  margin-bottom: 60px;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.alinear-v {
  display: table-cell;
  vertical-align: middle;
}


@media (min-width: 768px) {
  .isotipo {
    left: 28.27%;
    right: 28.53%;
    width: 100px;
  }

  .titulo {
    font-size: 50px;
    line-height: 48px;
  }

  .card-contexto {
    border: 5px solid #000000;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .frase {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.44px;
  }

  p {
    font-size: 18px;
  }

  .titulo-card {
    font-size: 22px;
  }
}




@font-face {
  font-family: 'spacegrotesk';
  src: url(/css/spacegrotesk/SpaceGrotesk-Bold.otf)format('otf');
  src: url(/css/spacegrotesk/SpaceGrotesk-Light.otf)format('otf');
  src: url(/css/spacegrotesk/SpaceGrotesk-Medium.otf)format('otf');
  src: url(/css/spacegrotesk/SpaceGrotesk-Regular.otf)format('otf');
  src: url(/css/spacegrotesk/SpaceGrotesk-SemiBold.otf)format('otf');
}